{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.hero{
    height: 100vh;
    background-image: url('https://c0.wallpaperflare.com/preview/980/926/362/frame-floral-flower-background.jpg');
    background-size: 1500px 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 166);
}

.timebox {
  display: flex;
  gap: 70px;
}
.time{
  text-align: 500px 800px;
}

.time{
  font-size: x-large;
  font-weight: 100;
}