/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Hero Section */
.hero{
    height: 100vh;

    background-image: url('https://c0.wallpaperflare.com/preview/980/926/362/frame-floral-flower-background.jpg');
    background-size: cover;          /* fixed */
    background-position: center;     /* added */
    background-repeat: no-repeat;    /* added */

    display: flex;
    flex-direction: column;
    align-items: center;   /* horizontal center */
    justify-content: center; /* vertical center */

    color: rgb(255, 0, 166);
}

/* Timer container */
.timebox{
    display: flex;
    gap: 70px;
}

/* Each time block */
.time{
    text-align: center;   /* fixed */
    font-size: x-large;
    font-weight: 100;
}
